<div class="toggleForm">

    <form (ngSubmit)="onSubmit()" #roleForm="ngForm">

<!--        <input [(ngModel)] = "inputFirst" name = "inputFirst" required-->
<!--        type="text" id="fname" placeholder="First Name" value={{inputFirst}}><br><br>-->
<!--        <input [(ngModel)] = "inputLast" name = "inputLast" required-->
<!--        type="text" id="lname" placeholder="Last Name" value={{inputLast}}><br><br>-->



      <label for="userDropdown" style="margin-left: 6px">Select user:</label>
      <select [(ngModel)] = "inputUser" required name="inputUser" id="userDropdown">
<!--        <option value="">Select User</option>-->
        <option *ngFor="let element of users" [value]="element.id">{{element.name}}-{{element.role}}</option>
      </select> <br><br>

        <button type="submit" [disabled]="!roleForm.form.valid">Submit</button>

        <div [hidden]="roleForm.valid || roleForm.pristine">
            <br>
            <p>Fill all fields.</p>
        </div>

    </form>
</div>
