<div class="toggleForm">

    <form (ngSubmit)="onSubmit()" #roleForm="ngForm">

        <input [(ngModel)] = "inputFirst" name = "inputFirst" required
        type="text" id="fname" placeholder="First Name" value={{inputFirst}}><br><br>
        <input [(ngModel)] = "inputLast" name = "inputLast" required
        type="text" id="lname" placeholder="Last Name" value={{inputLast}}><br><br>

        
        
        <select [(ngModel)] = "inputRole" required name="inputRole" id="roleDropdown">
            <option value="">Select your Role</option>
            <option *ngFor="let element of roles" [value]="element">{{element}}</option>
        </select> <br><br>

        <button type="submit" [disabled]="!roleForm.form.valid">Submit</button>

        <div [hidden]="roleForm.valid || roleForm.pristine">
            <br>
            <p>Fill all fields.</p>
        </div>
        
    </form>
</div>
