
.calendar{
    border:3px solid; 
    border-collapse: separate;
    height: 360px;
    width: 100%;
    border-color: black;
    font-family:'Trebuchet MS';
    font-variant: small-caps;
}

#days{
    background-color: rgb(123, 202, 182);
}

.column{
    text-align:center;
    width: 20%;
}

#coursecell{
    background-color: rgb(164, 214, 203);
}

#table{
    width: 100%;
}