#createForm{
  padding-right: 5ex;
  width: 460px;
}
button{
  background-color: #ece5d8;
  border: solid;
  border-color: rgb(84, 77, 85);
  margin-left: 30%;

}
input{
  background-color: #ece5d8;
  border: solid;
  border-color: rgb(84, 77, 85);
}
#list{
  background-color: #ece5d8;
  border: solid;
  border-color: rgb(84, 77, 85);
}
#sectionDropdown{
  background-color: #ece5d8;
  border: solid;
  border-color: rgb(84, 77, 85);
}
#teacherDropdown {
  background-color: #ece5d8;
  border: solid;
  border-color: rgb(84, 77, 85);
}
