#classDetails{
    margin-left: 60%;
    position: absolute;
    border: 2px solid black;
    background-color:rgb(68, 151, 130);
    z-index: 1;

    padding-left: 3ex;
    padding-right: 3ex;
    padding-bottom: 3ex;
    padding-top: 3ex;
}