<div *ngIf="(role == 'Student' || role == null) &&
            this.targetClass != null  " class="classDetails">
    <p>{{this.targetClass.name}}</p>
    <p>Year: {{this.targetClass.year}}</p>
    <p>Section: {{this.targetClass.section}}</p>
    <p>Teacher: {{this.targetClass.teacher}}</p>
    <p>Capacity: {{this.getCapacity()}}</p>
    <button (click)="enrollStudent(this.targetClass.id)" type="submit">Enroll</button>

</div>

<app-class-creation *ngIf="(role == 'Teacher' || role == 'Admin') && this.targetClass != null"
  [classEditId]="this.targetClass.id"  [purpose]="'editClass'" class="classEdit"></app-class-creation>


