<div *ngIf="(role == 'Student' || role == null) && this.targetClass != null" class="classDetails">
    <p>{{this.targetClass.name}}</p>
    <p>Year: {{this.targetClass.year}}</p>
    <p>Section: {{this.targetClass.section}}</p>
    <p>Teacher: {{this.targetClass.teacher}}</p>
    <p>Capacity: {{this.targetClass.capacity}}</p>
    <p>Date: {{this.targetClass.getDate()}}</p>
    <button type="submit">Reserve place</button>
</div>

<app-class-creation *ngIf="(role == 'Teacher' || role == 'Admin') && this.targetClass != null"
 [purpose]="'editClass'" class="classEdit"></app-class-creation>


