<mat-toolbar id="toolbar">
    <p>Check-in Platform </p>

    <button class="toolbarButton"
            mat-raised-button (click)="toggle('role')" >Update Role</button>

    <button *ngIf=" currentUser.role == 'TEACHER' && userRole!=null" class="toolbarButton"
            mat-raised-button (click)="toggle('create')" >Create Class</button>

    <button *ngIf="userRole == 'Admin' && userRole != null" class="toolbarButton"
            mat-raised-button (click)="toggle('createClassroom')" >Create Classroom</button>
</mat-toolbar>

<label>{{userRole}}</label>
<label>{{currentUser.role}}</label>
<span *ngIf="whatToDisplay == 'role'">
    <app-user-role-input></app-user-role-input>
</span>

<span  *ngIf="whatToDisplay == 'create'">
    <app-class-creation></app-class-creation>
</span>

<span  *ngIf="whatToDisplay == 'createClassroom'">
    <app-classroom-creation></app-classroom-creation>
</span>

<span *ngIf="whatToDisplay == 'classInfo'">
    <app-class-details ></app-class-details>
</span>



