<mat-toolbar id="toolbar"> 
    <p>Check-in Platform </p>

    <button class="toolbarButton"
     mat-raised-button (click)="toggle('role')" >Update Role</button>
    <button *ngIf="userRole != 'Student' && userRole != null" class="toolbarButton"
     mat-raised-button (click)="toggle('create')" >Create Class</button>
</mat-toolbar>

<span *ngIf="whatToDisplay == 'role'">
    <app-user-role-input></app-user-role-input>
</span>

<span *ngIf="whatToDisplay == 'create'">
    <app-class-creation></app-class-creation>
</span>


