<div id="createForm" class="toggleForm">

    <form (ngSubmit)="onSubmit()" #roleForm="ngForm">

        <input [(ngModel)] = "inputName" name = "inputName" required
        type="text" placeholder="Class Name"><br><br>
        <input [(ngModel)] = "inputYear" name = "inputYear" required
        type="text" placeholder="Class Year"><br><br>

        <select [(ngModel)] = "inputSection" required name="inputSection" id="sectionDropdown">
            <option value="">Select the Class section</option>
            <option *ngFor="let element of sections" [value]="element">{{element}}</option>
        </select> <br><br>

        <select [(ngModel)] = "inputTeacher" required name="inputTeacher" id="teacherDropdown">
            <option value="">Select the Class teacher</option>
            <option *ngFor="let element of teachers" [value]="element">{{element}}</option>
        </select> <br><br>

        <label for="inputCapacity" >Class Date:</label>
        <input id="inputCapacity" name="inputCapacity" placeholder="50" required
        [(ngModel)] ="inputCapacity"/><br><br>

        <label for="inputDate" >Class Date:</label>
        <input id="inputDate" name="inputDate" placeholder="mm/dd/yyyy"required 
        [(ngModel)] ="inputDate"/><br><br>

        <label for="inputStart">Start of Class:</label><br>
        <input id = "inputStart" name ="inputStart" placeholder="hh:mm"required [(ngModel)] ="start"><br>
        <label for="inputEnd">End of Class:</label><br>
        <input id = "inputEnd"name= "inputEnd" placeholder="hh:mm"required [(ngModel)]="end">
        <br><br>

    

        <button type="submit" [disabled]="!roleForm.form.valid" (click)="onSubmit()">Submit</button>

        <div [hidden]="roleForm.valid || roleForm.pristine">
            <br>
            <p>Please fill in all of the fields.</p>
        </div>
        
    </form>
</div>
